// ========================
//      SCSS Variables
// ========================

// Layout Width
$mobile: 375px;
$desktop: 1440px;

// Primary
$desaturated-red: hsl(0, 36%, 70%);
$soft-red: hsl(0, 93%, 68%);
$parragraph: #baa5a2;

// Neutral
$dark-grayish-red: hsl(0, 6%, 24%);
$button: #f4a5a8;

// Gradients
$first-gradient: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
$second-gradient: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

// Font
$josefin-sans: "Josefin Sans", sans-serif;

// ========================
//      GENERAL Styles
// ========================
* {
  box-sizing: border-box;
  margin: 0;
  top: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

// ========================
//      MAIN Styles
// ========================
.container {
  width: $mobile;
  height: 780px;
  padding: 30px 30px;
  margin: 0 auto;
  background-color: #fff7f8;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo img {
    width: 8px;
    margin-bottom: 30px;
  }

  & .banner-1 {
    // width: $mobile;
    margin-bottom: 30px;
  }

  & .banner-2 {
    display: none;
  }

  &-seccion {
    height: 375px;
    margin-top: 65px;
    text-align: center;
    p {
      font-size: 1.4rem;
      color: $parragraph;
      font-family: $josefin-sans;
    }
    & .span {
      display: inline-block;
      text-align: center;
      font-size: 40px;
      text-transform: uppercase;
      letter-spacing: 10px;
      &-1 {
        font-weight: 300;
      }
      &-2 {
        line-height: 45px;
        font-weight: 600;
        color: #000;
      }
      &-height {
        display: inline-block;
        margin-top: 10px;
        line-height: 23px;
      }
    }
  }
  &-email {
    width: 310px;
    height: 48px;
    display: flex;
    padding-left: 25px;
    justify-content: space-between;
    border: 1px solid $parragraph;
    border-radius: 30px;
    margin-top: 40px;
    & input {
      border: none;
      outline: none;
      &::placeholder {
        font-size: 1.1rem;
        color: $parragraph;
      }
    }
    &__button {
      margin-top: -1px;
      width: 67px;
      height: inherit;
      border: 1px solid $soft-red;
      border-radius: 30px;
      background-color: $soft-red;
      box-shadow: 1px 1px 10px 0.5px $desaturated-red;
      &:hover {
        background-color: $button;
        border: 1px solid $button;
      }
    }
  }
}

// ========================
//      FOOTER Styles
// ========================

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

// ========================
//      MEDIA Queries
// ========================

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    // border: 1px solid red;
    width: $desktop;
    max-width: 1140px;
    height: 100vh;
  }
  .flex {
    // border: 1px solid blue;
    flex-direction: row;
    .logo {
      // border: 1px solid green;
      display: block;
      order: 1;
    }
    .logo img {
      width: 160px;
      margin: 30px 0 30px 0;
    }

    &-hero {
      // border: 2px dotted red;
      order: 3;
      .banner-1 {
        display: none;
      }
      .banner-2 {
        display: block;
        margin-top: -90px;
      }
    }
    &-seccion {
      // border: 2px solid orange;
      margin-top: -30px;
      order: 2;
      p {
        text-align: left;
        font-size: 1.7rem;
      }
      .span {
        font-size: 5rem;
        line-height: 6.5rem;
        text-align: left;
      }
    }
  }
}
