* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  top: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.container {
  width: 375px;
  height: 780px;
  padding: 30px 30px;
  margin: 0 auto;
  background-color: #fff7f8;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex .logo img {
  width: 100px;
  margin-bottom: 30px;
}

.flex .banner-1 {
  width: 375px;
  margin-bottom: 30px;
}

.flex .banner-2 {
  display: none;
}

.flex-seccion {
  height: 375px;
  margin-top: 65px;
  text-align: center;
}

.flex-seccion p {
  font-size: 1.4rem;
  color: #baa5a2;
  font-family: "Josefin Sans", sans-serif;
}

.flex-seccion .span {
  display: inline-block;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.flex-seccion .span-1 {
  font-weight: 300;
}

.flex-seccion .span-2 {
  line-height: 45px;
  font-weight: 600;
  color: #000;
}

.flex-seccion .span-height {
  display: inline-block;
  margin-top: 10px;
  line-height: 23px;
}

.flex-email {
  width: 310px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #baa5a2;
  border-radius: 30px;
  margin-top: 40px;
}

.flex-email input {
  border: none;
  outline: none;
}

.flex-email input::-webkit-input-placeholder {
  font-size: 1.1rem;
  color: #baa5a2;
}

.flex-email input:-ms-input-placeholder {
  font-size: 1.1rem;
  color: #baa5a2;
}

.flex-email input::-ms-input-placeholder {
  font-size: 1.1rem;
  color: #baa5a2;
}

.flex-email input::placeholder {
  font-size: 1.1rem;
  color: #baa5a2;
}

.flex-email__button {
  margin-top: -1px;
  width: 67px;
  height: inherit;
  border: 1px solid #f4a5a8;
  border-radius: 30px;
  background-color: #f4a5a8;
  -webkit-box-shadow: 1px 1px 10px 0.5px #ce9797;
          box-shadow: 1px 1px 10px 0.5px #ce9797;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    border: 1px solid red;
    width: 1440px;
    max-width: 1140px;
  }
  .flex {
    border: 1px solid blue;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .flex .logo {
    width: 30%;
    display: inline-block;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .flex .logo img {
    width: 160px;
    margin: 30px 0 30px 0;
  }
  .flex-hero {
    border: 2px dotted red;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .flex-hero .banner-1 {
    display: none;
  }
  .flex-hero .banner-2 {
    display: block;
  }
  .flex-seccion {
    border: 2px solid orange;
    width: 60%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
/*# sourceMappingURL=style.css.map */